.header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: var(--z-fixed);
    background-color: var(--body-color);
}

.nav {
    height: calc(var(--header-height) + 1.5rem);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 50px;
    column-gap: 1rem;
}

.nav__menu {
    display: flex;
    align-items: center;
    gap: 1rem;
}


.grey-color {
    color: #868e96;
}

.nav .nav__logo {
    display: block;
    font-size: 1.5em;
    text-decoration: none;
    color: var(--title-color);
    margin-top: 10px;
}

.nav__logo .logo-name {
    font-family: 'Agustina',
        sans-serif;
    font-weight: bold;
    font-variant-ligatures: no-common-ligatures;
    padding: 0 10px;
}

.nav__toggle {
    color: var(--title-color);
    font-weight: var(--font-medium);
    width: 23px;
}

.nav__list {
    display: flex;
    align-items: center;
    column-gap: 2rem;
    list-style: none;
    height: 100%;
}

.nav__link {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: var(--small-font-size);
    color: var(--title-color);
    font-weight: var(--font-medium);
    transition: .3s;
}

.nav__icon,
.nav__close,
.nav__toggle {
    display: none;
}

/* ACTIVE LINK */
.active-link,
.nav__link:hover {
    color: var(--moonstone-blue);
}

/* CHANGE HEADER */
.scroll-header {
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.15);
}

/* BREAK POINTS */
@media screen and (max-width: 768px) {
    /* .header {
        top: initial;
        bottom: 0;
    } */

    .nav {
        height: var(--header-height);
        padding: 35px 30px;
    }

    .nav__menu {
        display: flex;
        justify-content: center;
        flex-direction: column;
        gap: 0;
        position: fixed;
        top: -100%;
        right: 0;
        width: 50%;
        height: 100%;
        background-color: var(--body-color);
        padding: 2rem 1.5rem 4rem;
        box-shadow: -1px 1px 3px 0px #00000026;
        /* border-radius: 1.5rem 1.5rem 0 0; */
        transition: .3s;
    }

    .show-menu {
        top: 0;
    }

    .nav__list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 50px;
        height: inherit;
    }

    .nav__item {
        width: 100%;
    }

    .nav__link {
        padding: 5px 0;
    }

    .nav__icon {
        font-size: 1.2rem;

    }

    .nav__close {
        position: absolute;
        width: 23px;
        right: 1.8rem;
        top: 1.6rem;
        font-size: 1.5rem;
        cursor: pointer;
        color: var(--title-color);
    }

    .nav__close:hover {
        color: var(--moonstone-blue);
    }

    .nav__toggle {
        font-size: 1.4rem;
        cursor: pointer;
    }

    .nav__icon,
    .nav__close,
    .nav__toggle {
        display: block;
    }
}

@media screen and (max-width: 350px) {
    .nav__menu {
        padding: 2rem 0.25rem 4rem;
    }

    .nav__list {
        column-gap: 0;
    }
}